node_modules
.vscode
equivalencia.txt
index-linux
index-macos
index-win.exe
resultados.txt
mctabancaria.bin
mctabancaria.rar
mi_app.exe
procesarBloques-win.exe
script-mtabancaria.rar
procesarBloques.js
procesarBloques-linux
procesarBloques-macos
pxldasew.bin